body{
  background-color: whitesmoke
}

.todo-list{
background-color: white;
margin: auto;
width: 50%;
display:flex;
flex-direction:column;
/* justify-content:center; */
align-items: center;
border: 1px solid #efefef;
padding: 30px;
}

.todo-item{
display: flex;
justify-content: flex-start;
align-items: center;
padding: 30px 20px 0;
width: 70%;
border-bottom: 1px solid #cecece;
font-family: Roboto, sans-serif; 
font-weight: 100;
font-size: 15px;
color: #333333;
}

/* input[type = checkbox]: focus{
  outline :0;
} */


@keyframes loading {
  0% {background-color:red;
  font-size:16px;}
  25% {background-color: yellow;
    font-size:26px;}
  50% {background-color:red;
    font-size:16px;}
  100% {background-color: yellow;
    font-size:26px;}
}

/* .loading{
  animation-name: loading;
  animation-duration: 4s;
  animation-iteration-count: infinite;
} */

/* $animation_length: 3.6; */

.loading-1{
  animation-name:loading;
  animation-duration: 3.6s;
  animation-delay:-1.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.loading-2{  animation-name:loading;
  animation-duration: 3.6s;
  animation-delay:-1.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.loading-3{  animation-name:loading;
  animation-duration: 3.6s;
  animation-delay:-1.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.loading-4{  animation-name:loading;
  animation-duration: 3.6s;
  animation-delay:-1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.loading-5{  animation-name:loading;
  animation-duration: 3.6s;
  animation-delay:-1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.loading-6{  animation-name:loading;
  animation-duration: 3.6s;
  animation-delay:-0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.loading-7{  animation-name:loading;
  animation-duration: 3.6s;
  animation-delay:-0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.loading-8{  animation-name:loading;
  animation-duration: 3.6s;
  animation-delay:-0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.loading-9{  animation-name:loading;
  animation-duration: 3.6s;
  animation-delay:-0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.loading-10{  animation-name:loading;
  animation-duration: 3.6s;
  animation-delay:0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}